**/.DS_Store
src/server/vite/static/manifest.json
src/server/vite/static/vite/test-BiVnR97J.css
src/server/vite/static/vite/test-BIzm51mH.js
src/server/vite/static/vite/test-CydHAJ72.css
src/server/vite/static/vite/test-D5Qfh-Cr.js
src/mobile/firebase.json
src/server/vite/static/
src/server/vite/static/manifest.json
src/server/fbsvc.json
